COMPOSE_PROJECT_NAME=embervault

##################################################################
# DATABASE
##################################################################

# Connection String
DATABASE_URL=

# Postgres configuration
POSTGRES_DB=ember_vault
POSTGRES_USER=postgres
POSTGRES_PASSWORD=

# Users
DB_BACKEND_USER=
DB_BACKEND_PASSWORD=
DB_ADMIN_USER=
DB_ADMIN_PASSWORD=


##################################################################
# AUTH-UTILS
##################################################################

AUTH_LIB_TOKEN=


##################################################################
# OBJECT STORAGE
##################################################################

SEAWEEDFS_ACCESS_KEY=
SEAWEEDFS_SECRET_KEY=
SEAWEEDFS_BUCKET=
SEAWEEDFS_PROFILE_PICTURES_BUCKET=


##################################################################
# CACHE
##################################################################

REDIS_BACKEND_PASSWORD=
REDIS_URL=
