
##################################################################
# DATABASE
##################################################################

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=ember_vault
POSTGRES_HOST=postgres
