COMPOSE_PROJECT_NAME=embervault_test

##################################################################
# TESTS VARIABLES
##################################################################

POSTGRES_DB_TEST=ember_vault_test

TEST_EMAIL=changeme
TEST_PASSWORD=changeme

BASE_URL=https://nginx

APP_ENV=test


##################################################################
##################################################################
##################################################################


##################################################################
# AUTH-UTILS
##################################################################

AUTH_LIB_TOKEN=


##################################################################
# OBJECT STORAGE
##################################################################

SEAWEEDFS_ACCESS_KEY=
SEAWEEDFS_SECRET_KEY=
SEAWEEDFS_BUCKET=
SEAWEEDFS_PROFILE_PICTURES_BUCKET=


##################################################################
# CACHE
##################################################################

REDIS_BACKEND_PASSWORD=
REDIS_URL=
