
##################################################################
# DATABASE
##################################################################

# Connection String
DATABASE_URL=

##################################################################
# AUTH-UTILS
##################################################################

# Secrets
JWT_SECRET=

##################################################################
# FRONT
##################################################################

FRONTEND_URL=

##################################################################
# CACHE
##################################################################

REDIS_URL=