
##################################################################
# DATABASE
##################################################################

# Connection String
DATABASE_URL=

##################################################################
# AUTH-UTILS
##################################################################

# Secrets
JWT_SECRET=
REFRESH_SECRET=
RESET_PASSWORD_SECRET=

# Expiration times
JWT_EXPIRATION_MINUTES = 15
REFRESH_TOKEN_EXPIRATION_MINUTES = 10080 # 7 days
RESET_PASSWORD_EXPIRATION_MINUTES = 15


##################################################################
# MAIL
##################################################################

MAIL_DIR=ember.vault.ua@gmail.com
MAIL_PASSWORD=


##################################################################
# CORS
##################################################################

FRONTEND_URL=
COOKIE_SAME_SITE=lax # lax, strict or none

##################################################################
# MISC
##################################################################

NODE_ENV=development # development or production