
##################################################################
# DATABASE
##################################################################

# Connection String
DATABASE_URL=

##################################################################
# AUTH-UTILS
##################################################################

# Secrets
JWT_SECRET=

S3_ENDPOINT=

FRONTEND_URL=